<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snackshop.mapper.SsWxUserMapper">

    <select id="findPage" resultType="com.snackshop.entity.SsWxUser">
        select * from ss_wx_users
        <if test="queryString != null and queryString.length > 0">
            where  wx_nickName like concat('%',#{queryString},'%') or phone like concat('%',#{queryString},'%')
        </if>
    </select>
    <select id="findByOpenId" resultType="com.snackshop.entity.SsWxUser">
        select * from ss_wx_users where open_id = #{openId}
    </select>


    <insert id="insert" parameterType="com.snackshop.entity.SsWxUser">
        insert into ss_wx_users(open_id,wx_status)
            values (#{openId},#{wxStatus})
    </insert>


</mapper>